* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 15px;
  max-width: 992px;
  margin: 0 auto;
  min-height: 100vh;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.col-half {
  flex-basis: 50%;
}

.col-third {
  flex-basis: calc(100% / 3);
}

@media screen and (min-width: 467px) {
  .input-container {
    height: 60px;
  }

  .day-label {
    font-size: 1.6rem;
  }

  select {
    width: 120px;
    height: 33px;
    margin: 0 5px;
    font-size: 1rem;
  }

  .place-info {
    margin-left: 12px;
  }

  .place-rating {
    padding-top: 5px;
  }

  .place-address {
    padding: px 0;
  }

  .new-date-decisions-container {
    padding-bottom: 100px;
  }

  .new-date-decisions-btn {
    width: 220px;
  }
}
