* {
  font-family: Roboto, sans-serif;
}

.container {
  box-shadow: 0 0 29px 8px #ababab;
}

.form-title {
  font-size: 2.3rem;
  color: #3d3d3d;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  background-color: #e9e7e7;
  height: 50px;
  align-items: center;
  border-radius: 5px;
  width: 350px;
  padding: 10px;
  margin: 10px 0;
}

label {
  font-size: 1.4rem;
  color: #8d8d8d;
  font-weight: bold;
}

select {
  width: 80px;
  height: 28px;
  color: #575757;
  margin: 0 2px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

select:hover {
  cursor: pointer;
}

.time-label,
.activity-label {
  align-items: center;
}

.time-input,
.activity-input {
  display: flex;
  justify-content: flex-end;
}

input[type=time] {
  outline: none;
  border: none;
  font-size: 1rem;
  width: 200px;
  height: 38px;
  background-color: #e9e7e7;
}

input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  border-radius: 10px;
}

input[type=time]::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

input[type=time]::-webkit-datetime-edit-hour-field {
  font-size: 1.1rem;
  color: black;
  background-color: #fff;
  width: 70px;
  padding: 19px 13px;
  border-radius: 15px;
}

input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #fff;
  width: 70px;
  padding: 19px 13px;
  border-radius: 15px;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #4ad1d1;
  color: #fff;
  padding: 19px 13px;
  width: 70px;
  border-radius: 15px;
}

input:hover {
  cursor: pointer;
}

.activity {
  font-size: 1.2rem;
  height: 34px;
  width: 235px;
  padding-left: 8px;
}

.selected-address {
  color: #a1a1a1;
}
