* {
  font-family: Lato, sans-serif;
}

.container {
  box-shadow: 0 0 29px 8px #ababab;
}

.calendar-title,
.form-title,
.search-title,
.contacts-title,
.add-contacts-title,
.invitations-title {
  font-size: 2.4rem;
  color: #252525;
  font-weight: bold;
}

.form-container,
.contacts-container,
.add-contacts-container {
  padding: 0 16px;
  padding-bottom: 90px;
}

.input-container {
  background-color: #f7f6f6;
  height: 50px;
  align-items: center;
  border-radius: 5px;
  margin: 10px 0;
  padding: 0 15px;
}

label,
.scheduled-date-placeholder-container,
.activity-label {
  font-size: 1.5rem;
  color: #8d8d8d;
  font-weight: bold;
}

select {
  width: 80px;
  height: 28px;
  color: #575757;
  margin: 0 4px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
}

select:hover {
  cursor: pointer;
}

.time-label,
.activity-label {
  align-items: center;
}

.time-input,
.activity-input {
  display: flex;
  justify-content: flex-end;
}

.activity-input > .ui.selection.dropdown {
  border: none;
}

.bubble {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 6px;
}

.text {
  font-size: 1.5rem;
}

.activity-options {
  margin: 0 18px;
}

.item {
  font-size: 1.6rem;
  margin: 8px 0;
}

.item:hover {
  cursor: pointer;
}

input[type=time] {
  outline: none;
  border: none;
  font-size: 1.2rem;
  width: 200px;
  height: 38px;
  background-color: #f7f6f6;
}

input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  border-radius: 10px;
}

input[type=time]::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

input[type=time]::-webkit-datetime-edit-hour-field {
  font-size: 1.1rem;
  color: black;
  background-color: #fff;
  width: 70px;
  padding: 19px 13px;
  border-radius: 15px;
}

input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #fff;
  width: 70px;
  padding: 19px 13px;
  border-radius: 15px;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #4ad1d1;
  color: #fff;
  padding: 19px 13px;
  width: 70px;
  border-radius: 15px;
}

input:hover {
  cursor: pointer;
}

.activity {
  font-size: 1.2rem;
  height: 34px;
  width: 235px;
  padding-left: 8px;
}

.location-container,
.invite-container {
  margin-top: 20px;
}

.location-label,
.invite-label {
  font-size: 1.4rem;
  color: #616161;
  font-weight: 600;
}

.address-container:hover {
  cursor: pointer;
}

.selected-address {
  color: #a1a1a1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.search-container {
  position: relative;
}

.search-input {
  border-radius: 5px;
  background-color: #e9e7e7;
  color: #504f4f;
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  display: block;
  height: 40px;
  padding: 5px 5px 5px 50px;
  transition: 0.3s all ease;
  border: 1px solid #e9e7e7;
}

.search-input:hover {
  cursor: pointer;
}

.search-input:focus {
  border: 1px solid #1dc0c0;
}

.search-button {
  position: absolute;
  top: 0;
  left: 7px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.search-icon {
  font-size: 1.4rem;
  color: #808080;
  transition: 0.3s color ease-in;
}

.search-button:hover .search-icon {
  color: #1dc0c0;
}

.search-button:active .search-icon {
  color: #808080;
}

.search-button:hover {
  cursor: pointer;
}

.search-list {
  padding: 0;
  overflow: hidden;
}

.loading-placeholder {
  font-size: 1.3rem;
  color: #969696;
  margin: 18px auto;
}

.search-result,
.contact-container {
  background-color: rgb(250 250 250);
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px #d7d7d7;
  margin: 11px 0;
  display: flex;
}

.place-img-container,
.contact-img-container {
  display: flex;
  flex: 0 1 145px;
}

.place-img {
  max-width: 145px;
}

.place-info,
.contact-info {
  color: #969696;
  font-size: 1.1rem;
  width: 100%;
}

.place-name,
.contact-name {
  font-weight: bold;
  color: #404040;
  font-size: 1.25rem;
  padding-top: 5px;
}

.place-rating,
.place-address {
  padding: 1px 0;
}

.rating-icon {
  padding-left: 6px;
}

.place-address {
  overflow: hidden;
  text-overflow: ellipsis;
}

.set-button-container {
  display: flex;
  justify-content: flex-end;
}

.set-button {
  background-color: #1dc0c0;
  border: none;
  border-radius: 4px;
  width: 50px;
  height: 22px;
  color: #ececec;
  margin: 4px 5px 4px 0;
}

.set-button:hover {
  cursor: pointer;
}

.invitees-container:hover {
  cursor: pointer;
}

.invited-contact {
  background-color: #4ad1d1;
  margin: 0 4px;
  border-radius: 11px;
  padding: 7px 14px;
  font-size: 1.3rem;
  color: #ededed;
}

.contacts-title-container,
.search-title-container {
  display: flex;
  align-items: center;
}

.back-icon,
.add-icon {
  font-size: 1.5rem;
  color: #908f8f;
}

.contact-container:hover {
  cursor: pointer;
}

.contact-img {
  max-width: 75px;
  border-radius: 50%;
  margin: 8px;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-name {
  margin-bottom: 3px;
}

.notes-container {
  margin: 20px 0;
}

.notes {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  background-color: #ddfffd;
  border: none;
  color: #21b4ab;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  outline-color: #21b4ab;
}

.notes::placeholder {
  color: #21b4ab;
}

.add-contact-decisions-container {
  justify-content: space-between;
  margin-bottom: 37px;
  padding: 0 18px;
}

.add-contact-decisions-btn,
.new-date-decisions-btn {
  width: 138px;
  height: 35px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #8d8d8d;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f7f6f6;
}

.no-button {
  background-color: #ffc8c8;
  color: #e03939;
}

button:hover {
  cursor: pointer;
}

.add-contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 3px 3px #dedede;
  border-radius: 2px;
  max-width: 425px;
  min-width: 330px;
  margin-top: 20px;
}

.new-contact-img-container {
  margin: 37px;
}

.new-contact-img {
  max-width: 170px;
  border-radius: 50%;
}

.add-contacts-label {
  width: 100%;
  padding: 18px;
}

.add-contact-number-label,
.add-contact-name-label {
  padding-left: 10px;
  color: #6b6b6b;
  margin-bottom: 7px;
}

.new-contact-name,
.new-contact-number {
  width: 100%;
  background-color: #f3f3f3;
  border: none;
  height: 40px;
  outline-color: grey;
  font-size: 1.3rem;
  padding-left: 10px;
  color: #5e5e5e;
}

.navbar-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  height: 70px;
  width: 100%;
  box-shadow: 0 -2px 6px 0 #dadada;
  max-width: 992px;
  margin: 0 auto;
  background-color: #fff;
}

.nav-icon {
  font-size: 2rem;
  color: #9f9f9f;
}

.currPage {
  color: #4ad1d1;
}

.new-date-icon {
  font-size: 3.4rem;
  color: #4ad1d1;
}

.new-date-decisions-container {
  justify-content: space-between;
}

.new-date-decisions-btn {
  width: 158px;
}

i:hover {
  cursor: pointer;
}

.calendar-container {
  position: relative;
}

.month-name-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.month-controls,
.days-of-the-week {
  color: #969696;
}

.month-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #464646;
}

.days-of-the-week {
  display: flex;
  font-size: 1.2rem;
}

.day-name {
  width: calc(100% / 7);
  text-align: center;
}

.calendar-numbers {
  margin-top: 4px;
  font-size: 1.2rem;
}

.week {
  display: flex;
  margin: 3px 0;
}

.day-number {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  z-index: 1;
  text-align: center;
  font-weight: bold;
}

.day-number:hover {
  cursor: pointer;
}

.selected-day {
  background-color: #5cffff;
  border-radius: 50%;
  border: 22px solid #5cffff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today {
  border-radius: 50%;
  border: 4px solid #5cffff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekly-day-number-container {
  display: flex;
}

.weekly-scheduled-date {
  margin-left: 1px;
  background-color: #00ff29;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.extra-days {
  color: #a4a4a4;
}

.scheduled-date {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheduled-date-placeholder-container {
  margin-top: 9%;
}

.scheduled-date-title,
.upcoming-date-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #303030;
  margin: 25px 15px 0;
}

.upcoming-date-title {
  margin: 10px 15px;
}

.upcoming-dates-container {
  padding-bottom: 90px;
}

.schedule-container {
  padding-bottom: 90px;
}

.schedule {
  display: flex;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.upcoming-date-schedule {
  display: flex;
  padding: 6px 15px;
}

.upcoming-date-activity-container {
  display: flex;
  align-items: center;
}

.upcoming-date-info-container {
  margin-left: 5px;
  line-height: 1.2;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
}

.upcoming-dates-invitees {
  font-weight: bold;
}

.activity-decor {
  height: 60%;
  background-color: #e1e1e1;
  margin: 10px 26px;
}

.scheduled-activity {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-icon {
  font-size: 1.4rem;
  color: rgb(255, 247, 247);
}

.scheduled-invitees-container {
  display: flex;
  margin-bottom: 10px;
}

.scheduled-invitees-img {
  width: 52px;
  border-radius: 50%;
}

.filler-word {
  font-weight: normal;
}

.scheduled-invitees-time-container {
  flex-direction: column;
  padding-left: 10px;
  padding-top: 17px;
  font-size: 1.3rem;
}

.scheduled-invites-container {
  font-weight: normal;
}

.scheduled-invitees {
  font-weight: bold;
  margin-bottom: 5px;
}

.scheduled-time {
  color: #717171;
  font-weight: 500;
}

.scheduled-location {
  font-weight: bold;
  background-color: #ffe9e9;
  color: #f44343;
  padding: 10px;
  font-size: 1.1rem;
}

.scheduled-note {
  margin-top: 5px;
  color: #8b8b8b;
}

.note-label {
  font-weight: bold;
}

.eating-bubble {
  background-color: #fefb52;
}

.hiking-bubble {
  background-color: #e93d3d;
}

.shopping-bubble {
  background-color: #ca49ec;
}

.picnic-bubble {
  background-color: #38cf75;
}

.movies-bubble {
  background-color: #3f4ee6;
}

.bowling-bubble {
  background-color: #e956b0;
}

.spa-bubble {
  background-color: #11cdde;
}

.other-bubble {
  background-color: #f76039;
}

.dark-icon {
  color: #474747;
}

.legend-icon {
  font-size: 1.5rem;
  color: #1141de;
}

.activity-legend-container {
  position: fixed;
}

.error-message {
  color: #fff;
  background-color: rgb(255, 95, 95);
  font-size: 1.2rem;
  padding: 5px 15px;
  margin-top: 20px;
}

.sent-invitation-container {
  margin: 0 17px;
}

.sent-invitation {
  display: flex;
  margin: 18px 0;
  border-radius: 3px;
  box-shadow: 0 3px 4px 3px #d0d0d0;
  height: 85px;
  align-items: center;
}

.profile-pic {
  width: 65px;
  border-radius: 50%;
}

.sent-invitation-info {
  margin: 0 10px;
}

.sent-contact {
  font-weight: bold;
  font-size: 1.3rem;
  color: #272727;
}

.sent-activity,
.sent-datetime {
  font-size: 1.1rem;
  color: #8b8b8b;
}
